body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6499E9;
  color: #eee;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.MorphedGlass {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #7dccf122;
  background-color: #232e43;
  background: linear-gradient(0deg, #acbcdc 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}
.MorphedGlass hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 0;
}
.MorphedGlass ins {
  text-decoration: none;
}
.MorphedGlass .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.MorphedGlass .main .DocImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.MorphedGlass .main .description {
  margin: 0.5rem 0;
  color: #f7f6f8;
}
.MorphedGlass .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MorphedGlass .main .tokenInfo .upload {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ee83e5;
  font-weight: 700;
}
.MorphedGlass .main .tokenInfo .upload ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}
.MorphedGlass .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.MorphedGlass .main .creator ins {
  color: #000000;
  text-decoration: none;
}
.MorphedGlass .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.MorphedGlass .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.MorphedGlass:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
}
.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 15rem;
  filter: opacity(0.5);
}

.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left: 150%;
  margin-bottom: 10%;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
  
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
